<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Service Changes</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Planned 6 train service changes for today</h1>
  
  <p>
    <%= @today.text_body%></p>
</body>
</html>